# =========================
# Build (Maven)
# =========================
target/

# =========================
# IDEs
# =========================

# IntelliJ
../.idea/
.idea/
*.iml
out/

# VS Code
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# H2 Database
# =========================
*.mv.db
*.trace.db

# =========================
# Arquivos compilados
# =========================
*.class

# =========================
# Configurações sensíveis
# =========================
.env
application-local.properties