<!DOCTYPE html>
<html>
<head>
    <title>HOME | Athletica</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>


<header class="header">
    <div class="container">
        <div class="headerDiv">
            <div class="simbolEbusca">
                 <img src="/images/logo.png">
                <a href="/buscar"> <i class="fa-solid fa-magnifying-glass"></i> Buscar</a>
            </div>

            <div class="logon">
                <a href="/baixar-fotos">Baixar Fotos</a>
                <a href="/login">Login</a>
                <a href="/criar-conta">Criar Conta</a>
                <a href="/carrinho"><i class="fa-solid fa-cart-shopping"></i>Carrinho</a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="mainDiv">
            <div class="buscar fotos">
                <h1>Bem-vindo à Athletica</h1>
                <p>Encontre fotos de atletas e esportes de alta qualidade para suas necessidades.</p>
                <a href="/buscar" class="btn">Começar a Buscar</a>
            </div>
            <div class="categoria">
                <img src="/images/home-image.png" alt="Imagem de Esportes">
            </div>
            <div class="info-empresa">

            </div>    
        </div>
    </div>  





</body>
</html>